.roundedButton {
  text-decoration: none;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: rgb(var(--accent-light));
  color: #ffffff;
  border-radius: 8px;
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transition:
    transform 200ms,
    background 200ms;
  &:hover {
    transform: translateY(-2px);
  }
}
