---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Cruise CONTROL">
  <main>
    <h1>Cruise <span class="text-gradient">CONTROL</span></h1>
    <div class="instructions">
      <p>
        Cruise <strong>CONTROL</strong> is a simple speed and loop control for YouTube
        videos.
      </p>
      <p>Enter either the full video URL or the ID to get started.</p>
    </div>

    <form id="form" action="/play" class="form">
      <input
        class="input"
        type="text"
        id="query"
        name="v"
        placeholder="Enter URL or Video ID"
        required
      />
      <Button as="input" value="Let's Cruise" />
    </form>
    <Footer />
  </main>

  <script>
    const form = document.querySelector("form");
    form?.addEventListener(
      "invalid",
      function (event) {
        event.preventDefault();
        (event.target as HTMLInputElement).focus?.();
        (event.target as HTMLInputElement).classList.add("required");
      },
      true,
    );
    form?.addEventListener("submit", function (event) {
      if (!this.checkValidity()) {
        event.preventDefault();
      }
    });
  </script>
  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 16px;
      line-height: 1.6;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient-short);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgb(var(--accent-light));
      background: linear-gradient(
        rgba(var(--accent-dark), 33%),
        rgba(var(--accent-dark), 5%)
      );
      padding: 0.5rem 1rem;
      border-radius: 8px;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
    .input {
      padding: 6px 12px;
      background: rgb(31, 32, 35);
      border: 1px solid rgb(60, 63, 68);
      border-radius: 4px;
      font-size: 13px;
      color: rgb(247, 248, 248);
      height: 46px;
      max-width: calc(100% - 4rem);
      width: 100%;
      appearance: none;
      transition: border 0.15s ease 0s;
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: rgb(var(--accent));
      }
      &.required:invalid {
        border-color: rgb(var(--color-invalid));
      }
    }
  </style>
</Layout>
