---
import Layout from "../layouts/Layout.astro";
import { VideoPlayer } from "../components/VideoPlayer";
import Button from "../components/Button.astro";
import SmallHeader from "../components/SmallHeader.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Cruisin">
  <main>
    <SmallHeader />
    <VideoPlayer client:only="react" />
    <div class="instructions">
      <p>☝️ Adjust playback speed using the slider.</p>
      <p>🔁 Adjust looping using the loop controls.</p>
      <p>
        🔖 Bookmark this page to come back to the same video at the same speed.
      </p>
    </div>
    <div class="new-cruise">
      <Button value="New Cruise" href="/" />
    </div>
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 16px;
    line-height: 1.6;
  }
  .instructions {
    margin-block: 2rem;
    border: 1px solid rgb(var(--accent-light));
    background: linear-gradient(
      rgba(var(--accent-dark), 33%),
      rgba(var(--accent-dark), 5%)
    );
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .new-cruise {
    display: flex;
    justify-content: center;
  }
</style>
