---
import Layout from "../layouts/Layout.astro";
import { VideoPlayer } from "../components/VideoPlayer";
---

<Layout title="Cruisin">
  <main>
    <h2>Cruise <span class="text-gradient">CONTROL</span></h2>
    <VideoPlayer client:only="react" />
    <div class="instructions">
      <p>☝️ Adjust playback speed using the slider above.</p><p>
        🔖 Bookmark this page to come back to the same video at the same speed.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.5rem 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 16px;
    line-height: 1.6;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient-short);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-block: 2rem;
    border: 1px solid rgb(var(--accent-light));
    background: linear-gradient(
      rgba(var(--accent-dark), 33%),
      rgba(var(--accent-dark), 5%)
    );
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
