:root {
  --button-arrow-width: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
}

.responsiveWrapper {
  width: 100%;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.player {
  position: absolute;
  top: 0;
  left: 0;
}

/* style range inputs: https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
.rangeInput {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  /* width: calc(100% - 2.25rem); */
  width: 100%;
  margin: 0;

  /* Removes default focus */
  &:focus {
    outline: none;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  &::-webkit-slider-runnable-track {
    background-color: rgb(var(--accent-dark), 25%);
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */

    /*custom styles*/
    background: var(--accent-gradient);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  &:focus::-webkit-slider-thumb {
    border: 1px solid rgb(var(--accent));
    outline: 3px solid rgb(var(--accent));
    outline-offset: 0.125rem;
  }

  /******** Firefox styles ********/
  /* slider track */
  &::-moz-range-track {
    background-color: rgb(var(--accent-dark), 25%);
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  &::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background: var(--accent-gradient);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  &:focus::-moz-range-thumb {
    border: 1px solid rgb(var(--accent-dark));
    outline: 3px solid rgb(var(--accent-dark));
    outline-offset: 0.125rem;
  }
}

.rangeLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  & div {
    padding: 0;
    flex: 1;
    text-align: center;
    min-width: 0;
  }
}

.loopGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  gap: 6px;
}

.loopDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

h3 {
  margin: 0;
}

.playbackGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 6px;

  & button {
    text-decoration: none;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: rgb(var(--accent-light));
    color: #ffffff;
    border-radius: 50%;
    padding: 12px 13.5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    transition:
      transform 200ms,
      background 200ms;
    &:hover {
      transform: translateY(-2px);
    }
  }
}

.roundedButton {
  text-decoration: none;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: rgb(var(--accent-light));
  color: #ffffff;
  border-radius: 8px;
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transition:
    transform 200ms,
    background 200ms;
  &:hover {
    transform: translateY(-2px);
  }
}

.buttonRight {
  text-decoration: none;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: rgb(var(--accent-light));
  color: #ffffff;

  border-radius: 0;
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transition:
    transform 200ms,
    background 200ms;
  &:hover {
    transform: translateY(-2px);
  }
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--button-arrow-width)) 0%,
    100% 50%,
    calc(100% - var(--button-arrow-width)) 100%,
    0% 100%,
    var(--button-arrow-width) 50%
  );
}

.buttonRight {
  text-decoration: none;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: rgb(var(--accent-light));
  color: #ffffff;

  border-radius: 0;
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transition:
    transform 200ms,
    background 200ms;
  &:hover {
    transform: translateY(-2px);
  }
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--button-arrow-width)) 0%,
    100% 50%,
    calc(100% - var(--button-arrow-width)) 100%,
    0% 100%,
    var(--button-arrow-width) 50%
  );
}

.buttonLeft {
  text-decoration: none;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: rgb(var(--accent-light));
  color: #ffffff;

  border-radius: 0;
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transition:
    transform 200ms,
    background 200ms;
  &:hover {
    transform: translateY(-2px);
  }
  clip-path: polygon(
    0% 50%,
    var(--button-arrow-width) 0%,
    100% 0%,
    calc(100% - var(--button-arrow-width)) 50%,
    100% 100%,
    var(--button-arrow-width) 100%
  );
}
